body {
	font-family: Verdana,Tahoma,Helvetica,Arial,sans-serif;
}

.typo {
	padding-right: 8px;
}

.typo2 {
	padding-right: 4px;
}

.monospace {
    font-family: "courier new", monospace;
}

li.society {
	background-color: #E2EEF7;
}

div.address-block {
	margin-top: 15px;
}

#inline-btn {
    margin-left: 8px;
}

.right-align {
    text-align: right;
}

a i.fa {
    margin-right: 8px;
}

li.today {
    color: red;
}

.panel-body p {
	margin: 5px 0 20px;
}

.panel-body p:last-child {
	margin: 0 0 5px;
}
