extends ./base.jade

block panelfooter
    div(class='panel-footer')
        a(href='/main')
            i(class="fa fa-chevron-left")
            | На главную

mixin success-alert(message)
    div(class='alert alert-warning alert-dismissible', role='alert')
        button(type='button', class='close', data-dismiss='alert', aria-label='Close')
            span(aria-hidden="true") &times;
        | #{message}
