doctype html
html
  head
    title G.Calendar - #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans+Condensed:300|PT+Sans")
    link(rel="shortcut icon", href="/imgs/favicon.png")
  body
    block body
    script(src="/js/jquery-1.10.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/common.js")
