extends ./base.jade

mixin item(href, icon, title, blank)
    p
        a(href='/#{href}')
            i(class="fa fa-#{icon}")
            | #{title}

block content
    div(class='panel-body')
        +item('all', 'list', 'Все события')
        +item('nearest', 'calendar', 'Ближайшие события')
        +item('search', 'search', 'Информация о людях')
        +item('person', 'plus-circle', 'Добавить информацию')
        +item('load', 'upload', 'Загрузить')
        +item('download', 'download', 'Скачать')
        +item('email', 'email', 'Послать письмо')
        +item('logout', 'sign-out', 'Выйти')
